*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*overflow: hidden;*/
    /*background-color: #BCE29E;*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
body{
    display: grid;
    grid-template-columns: .1fr 1fr .1fr;
    grid-template-rows: auto auto .3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width:100%;
    height:100%;
}
.siteTitle{
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
}
.topBar{
    grid-column: 2;
    grid-row: 1;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
button{
    background-color: #FF8787;
    border-radius:10px;
    padding:10px;
    border: none;
    font-weight: bolder;
}
li{
    display:inline-block;
    padding: 0 50px;
    list-style: none;
    font-weight: bold;
    margin: 50px;
}
.projectsBox{
    width:100%;
    height:100vh;
    /*background: #F8C4B4;*/
    display:flex;
    align-items:center;
    justify-content: center;
    grid-column:2;
    grid-row:2;
}

.swiper{
    width:80%;
    height:fit-content;
}

.swiper-slide iframe{
    width:100%;
}